body {
  background: #fafafa;
}

#app {
  padding-top: 1.5rem;
}

.main-card {
  max-width: 800px;
  width: 100%;
  margin: auto;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.full-width {
  width: 100%;
}

.align-center {
  text-align: center;
}

@media (max-width: 800px){

  #app {
    padding-top: 0;
  }

  .main-card {
    box-shadow: none;
  }

}